body{
    background-color: #333333;
    margin:0;
    padding: 0;

}

p{
    color: white;
    font-size:100px;
    display: inline;
    border-right: 4px solid #66ccff;
    animation: blink 1s infinite ;
    padding-right: 8px;
}

@keyframes blink {
    50%{
        border-right:none; 
    }
}